<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document abc</title>
  <!-- <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap" rel="stylesheet"> -->
  <link rel="stylesheet" href="../css/style.css">
  <link rel="stylesheet" href="../css/other.css">
</head>
<body>
  <header id="header" class="page-header">
    <div class="child">
      child 1
      <div class="child">Child 2</div>
    </div>
    <div class="header-top">
      <div class="container">
        <p>Welcome to HTML</p>
        <ul class="header-account-links">
          <li><a href="">Login</a></li>
          <li><a href="">Register</a></li>
        </ul>
      </div>
    </div>
    <div class="header-middle">
      <!-- Content header middle -->
    </div>
    <nav class="header-nav">
      <div class="container">
        <ul class="header-menu">
          <li><a href="">Link 1</a></li>
          <li><a href="">Link 2</a></li>
          <li><a href="">Link 3</a></li>
          <li><a href="">Link 4</a></li>
        </ul>
        <a href="" class="logo">
          <img src="" alt="">
        </a>
      </div>
    </nav>
  </header>
  <main class="page-main">
    <section class="section-slideshow">
      <h2 class="section-title section-has-border">Slideshow</h2>
      <img src="https://image.shutterstock.com/image-photo/bright-spring-view-cameo-island-260nw-1048185397.jpg" alt="">
    </section>
    <section class="section-inline-block">
      <h2 class="section-title">Inline && Block</h2>
      <div class="section-body">
        <p class="im-block">Lorem ipsum, dolor sit amet consectetur adipisicing elit. <strong class="im-inline">Lorem ipsum dolor sit amet consectetur</strong> adipisicing elit. Laudantium beatae, repellat deserunt deleniti, dolorum fugit minima dolore sapiente recusandae vero nihil quia quos neque quam quod officia necessitatibus magni maiores.</p>
      </div>
    </section>
    <section class="section-news">
      <h2 class="section-title">Latest News</h2>
      <ul class="news-list">
        <li class="news-item">
          <div class="news-inner">
            <a href="" class="news-img">
              <img src="" alt="">
            </a>
            <h3 class="news-title">
              <a href="">Lorem ipsum dolor sit amet consectetur</a>
            </h3>
            <p class="news-author">
              by <a href="">V. harnomi</a> / <a href="">Leave a commenbt</a>
            </p>
            <p class="news-desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. </p>

            <a href="" class="news-link">></a>
          </div>
        </li>
        <li class="news-item">
          <div class="news-inner">
            <a href="" class="news-img">
              <img src="" alt="">
            </a>
            <h3 class="news-title">
              <a href="">Lorem ipsum dolor sit amet consectetur</a>
            </h3>
            <p class="news-author">
              by <a href="">V. harnomi</a> / <a href="">Leave a commenbt</a>
            </p>
            <p class="news-desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. </p>
          </div>
        </li>

        <li class="news-item">
          <div class="news-inner">
            <a href="" class="news-img">
              <img src="" alt="">
            </a>
            <h3 class="news-title">
              <a href="">Lorem ipsum dolor sit amet consectetur</a>
            </h3>
            <p class="news-author">
              by <a href="">V. harnomi</a> / <a href="">Leave a commenbt</a>
            </p>
            <p class="news-desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. </p>
          </div>
        </li>
      </ul>
    </section>
    <section class="section-product">
      <h2 class="section-title">Latest product</h2>
      <ul class="prod-list">
        <li class="prod-item">
          <a href="" class="prod-img">
            <img src="" alt="">
          </a>
          <h3 class="prod-title">
            <a href="">Lorem ipsum dolor sit amet consectetur</a>
          </h3>
          <p class="prod-author">
            by <a href="">V. harnomi</a> / <a href="">Leave a commenbt</a>
          </p>
          <p class="prod-desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. </p>
        </li>
        <li class="prod-item">
          <a href="" class="prod-img">
            <img src="" alt="">
          </a>
          <h3 class="prod-title">
            <a href="">Lorem ipsum dolor sit amet consectetur</a>
          </h3>
          <p class="prod-author">
            by <a href="">V. harnomi</a> / <a href="">Leave a commenbt</a>
          </p>
          <p class="prod-desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. </p>
        </li>
        <li class="prod-item">
          <a href="" class="prod-img">
            <img src="" alt="">
          </a>
          <h3 class="prod-title">
            <a href="">Lorem ipsum dolor sit amet consectetur</a>
          </h3>
          <p class="prod-author">
            by <a href="">V. harnomi</a> / <a href="">Leave a commenbt</a>
          </p>
          <p class="prod-desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. </p>
        </li>
      </ul>
    </section>
    <section class="section-table">
      <h2 class="section-title">Table</h2>
      <table>
        <thead>
          <tr>
            <th>STT</th>
            <th>Name</th>
            <th>Gender</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Nguyen Van A</td>
            <td>Nguyen Van C</td>
            <td>Nguyen Van D</td>
          </tr>
          <tr>
            <td>Nguyen Van A</td>
            <td>Nguyen Van C</td>
            <td>Nguyen Van D</td>
          </tr>
          <tr>
            <td>Nguyen Van A</td>
            <td>Nguyen Van C</td>
            <td>Nguyen Van D</td>
          </tr>
          <tr>
            <td>Nguyen Van A</td>
            <td>Nguyen Van C</td>
            <td>Nguyen Van D</td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <td>adasd</td>
            <td>foot</td>
            <td>foot</td>
          </tr>
        </tfoot>
      </table>
    </section>
    <section class="section-form">
      <h2 class="section-title">Form</h2>
      <div class="section-body">
        <form action="/api/v1/register" method="post">
          <div class="form-group">
            <label for="firstname">First Name</label>
            <input id="firstname" class="form-control" type="text" name="firstname">
          </div>
          <div class="form-group">
            <label for="lastname">Last Name</label>
            <input id="lastname" disabled type="text" name="lastname">
          </div>
          <div class="form-group">
            <label for="email">Email</label>
            <input id="email" type="email" name="email">
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <input id="password" type="password" name="password">
          </div>
          <div class="form-group">
            <label for="password">Gender</label>
            <input type="radio" name="gender">Male
            <input type="radio" name="gender">Female
          </div>
          <div class="form-group">
            <label for="password">Skills</label>
            <input type="checkbox" name="skill_1">Skill 1
            <input type="checkbox" name="skill_2">Skill 2
          </div>
          <div class="form-group">
            <label for="password">Select</label>
            <select name="" id="">
              <option value="">1</option>
              <option value="">2</option>
            </select>
          </div>
          <div class="form-group">
            <label for="confirm-password">Confirm Password</label>
            <input id="confirm-password" type="password" name="confirm_password">
          </div>
          <div class="buttons-set">
            <button type="submit">Register</button>
          </div>
        </form>
      </div>
    </section>
    <section class="section-form">
      <h2 class="section-title">Sidebar</h2>
      <div class="section-body">
        <div class="layout-2-columns">
          <aside class="col-sidebar">

          </aside>
          <main class="col-main">

          </main>
        </div>
      </div>
    </section>
    <section class="section-animation">
      <h2 class="section-title">Animation</h2>
      <div class="section-body">
        <div class="box-animation"></div>
      </div>
    </section>
    <section id="priority" class="section-priority abc get-attr-from-html" data-tooltip="David Dong">
      <h2 class="section-title">Priority Selector</h2>
      <div class="section-body">
        1. !important: 1000
        2. inline: 100
        3. id: 10
        4. class: 1
        5. tagname: 0
      </div>
    </section>
    <section class="section-font">
      <h2 class="section-title">Font</h2>
      <div class="section-body">
        1. Font system
        2. Font Face
        3. Font Google Font
      </div>
    </section>
  </main>
  <br>
  <br>
  <br>
  <br>
  <br>
  <footer class="page-footer">
    <div class="footer-top">
      asdasda
      <!-- Content footer top -->
    </div>
    <div class="footer-middle">
      <!-- Content footer middle -->
    </div>
    <div class="footer-bottom">
      <!-- Content footer bottom -->
    </div>
  </footer>
</body>
</html>
